:host {
  display: block;
  line-height: 1.8rem;
  width: 8rem;
  font-size: 0;
}

.face-user:first-child {
  margin: 0;
}

.face-user, .plus-count {
  display: inline-block;
  background: transparent 50% 50%;
  background-size: cover;
  border-radius: 4rem;
  width: 1.8rem;
  height: 1.8rem;
  margin: 0 0 0 0.2rem;
  line-height: 1.8rem;
  text-align: center;
  font-size: 0.8rem;

  position: relative;
}

.face-user core-icon {
  position: absolute;
  bottom: -0.2rem;
  left: -0.2rem;
  color: #dd2c00;
  opacity: 0.9;
}

.plus-count {
  background-color: #dd2c00;
  font-weight: 600;
  color: white;
  cursor: pointer;
}