:host {
  display: flex;
  position: relative;
  overflow: visible;
}
.card-inner {
  width: 100%;
  background-color: #fff;
  padding: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0,0,0, .3);
}
[lost].card-inner {
  opacity: .5;
  box-shadow: 0px 2px 5px rgba(0,0,0, .2);
}

/* Favorited */
:host([favorite]) #favorite {
  color: #dd2c00;
}

/* Other icons, and not favorited */
paper-icon-button, core-icon {
  color: rgba(0,0,0, 0.3);
}

core-icon {
  margin-right: 0.5em;
}

.align-right {
  text-align: right;
}

h1, h2 {
  font-weight: 300;
}

h1 {
  margin: 0 0 15px 0;
}

h2 {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#amount {
  white-space: nowrap;
  font-size: 1.5em;
}

#description {
  margin: 10px 0;
}

#modified {
  font-size: 0.7em;
  margin: 0.2em 0;
}

.face {
  display: inline-block;
  background: transparent 50% 50%;
  background-size: cover;
  border-radius: 4em;
}
.face-user {
  width: 2em;
  height: 2em;
}
.face-owner {
  width: 4em;
  height: 4em;
}

.owner {
  margin-right: 1em;
}

.owner-name {
  font-size: 0.6em;
  font-weight: 400;
}

corner-ribbon[lost] {
  background-color: #222;
}

corner-ribbon core-icon {
  color: #fff;
}

x-favorited-list {
  text-align: right;
}

process-arrow {
  color: rgba(0,0,0, 0.3);
  height: 1.5rem;
  font-weight: 400;
  text-align: center;
}
