/*
Colors
========================================


Primary color: Light Green
  500   #8bc34a
Variant hues:
  100   #dcedc8
  700   #689f38

Accent: Deep Orange
  A200  #ff6e40
  A700  #dd2c00

Grayscale:
  #fff
  #fafafa
  rgba(0,0,0, 0.3)
  #222


http://www.google.com/design/spec/style/color.html#color-ui-color-palette
*/

:host {
  display: block;
}

core-scaffold {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: rgba(0,0,0, 0.8);
}

/* Main view's header bar */
core-scaffold::shadow core-toolbar {
  background-color: #689f38;
  color: #fff;
}

/* Main view's background */
core-scaffold::shadow [main] {
  background-color: #fafafa;
}

/* Menu panel's header bar */
.panel-menu::shadow #mainPanel, .panel-menu core-toolbar {
  background-color: #fff;
}

/* Menu panel */
.panel-menu {
  background-color: #fff;
  z-index: 1;
}

.panel-menu h2,
.panel-menu paper-item {
  padding: 0 1rem;
}
.panel-menu .tribe-project-count {
  text-align: right;
}

.panel-menu h2 {
  text-transform: uppercase;
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.3em;
  border-bottom: 1px solid #eee;
}

.panel-menu core-menu {
  margin: 0 0 1rem;
}

paper-item.core-selected {
  background-color: #dcedc8;
}
paper-item::shadow #ripple {
  color: #8bc34a;
}

core-scaffold core-icon-button core-icon {
  color: white;
}

core-scaffold /deep/ core-icon-button /deep/ core-icon {
  color: white;
}

#superLogo {
  cursor: pointer;
  color: #689f38;
}

/* Tutorial */
#tutorial {
  width: 100%;
  margin: 1em;
  text-align: center;
  color: rgba(0,0,0, 0.5);
}

#tutorial h1,h2 {
  font-weight: 300;
  text-shadow: 0 0 5px rgba(255,255,255, 0.7);
}

#tutorial h1 {
  font-size: 5em;
  line-height: 1;
  margin: 0;
}

#tutorial h2 {
  font-size: 1em;
}

#tutorial header {
  margin-bottom: 3em;
}

#tutorial img {
  width: 6em;
  opacity: 0.5;
}

paper-checkbox {
  padding: 0.7rem 1rem;
  cursor: pointer;
}
paper-checkbox::shadow #checkbox.checked {
  border-color: #689f38;
}
paper-checkbox::shadow #checkboxLabel {
  box-sizing: border-box;
  width: calc(100% - 22px);
  padding-left: 1rem;
}
paper-checkbox .tribe-project-count {
  text-align: right;
}

@media screen and (min-width: 1000px) {
  #tutorial h1 {
    font-size: 10em;
  }

  #tutorial h2 {
    font-size: 1.5em;
  }

  #tutorial img {
    width: 8em;
  }
}